.fly-footer
  p
    a(href="http://fly.layui.com/") Fly社区 2018 ©
    a(href="http://www.layui.com/") layui.com
  p
    a(href="http://fly.layui.com/") 付费计划
    a(href="http://www.layui.com/") layui案例
    a(href="http://www.layui.com/") 获取Fly社区模版
    a(href="http://www.layui.com/") 微信公众号